<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <add name="SistemaVendasConnection" 
             connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SistemaVendas;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True"
             providerName="System.Data.SqlClient" />
        <add name="SistemaVendasConnectionSQLServer" 
             connectionString="Data Source=.;Initial Catalog=SistemaVendas;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>